.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
  
    .logo img {
      width: 40%;
      height: auto;
    }

    .dropdowns {
      width: 100%;
      padding-left: 12em;
      .menu {
        display: flex;
        flex-direction: row;
        gap:50px;
        font-size: 1.5em;
        li {
          cursor: pointer;
          list-style-type: none
        }
        select {
          cursor: pointer;
          background: black;
          color: white;
          border: none;
          appearance: none;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }