<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header style="height: 6em;">
    <a href="#">
        <img class="logo-1" src="../../assets/block-logo.png">
        <img style="height: 2em;" src="../../assets/letter-head-logo.png">
    </a>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar"><i class="fa fa-reorder" style="font-size:48px;"></i></label>

    <nav class="navbar">
        <ul>
            <li><a href="#">Services ⮟</a>
                <ul>
                    <li><a routerLink="/services/custom-homes">Custom Homes</a></li>
                    <li><a routerLink="/services/renovations">Renovations</a></li>
                    <li><a routerLink="/services/commercial">Commercial</a></li>
                    <li><a routerLink="/services/civil">Civil</a></li>
                </ul>
            </li>
            <li><a href="#">Homes for Sale ⮟</a>
                <ul>
                    <li><a href="#" routerLink="/salepage1">Sault Ste Marie</a></li>
                    <li><a href="#" routerLink="/salepage2">Sudbury</a></li>
                </ul>
            </li>
            <li><a href="#">About ⮟</a>
                <ul>
                    <li><a routerLink="/about/president-message">President's Message</a></li>
                    <li><a routerLink="/about/company-profile">Company Profile</a></li>
                    <li><a routerLink="/about/resources">Resources</a></li>
                    <li><a routerLink="/about/resources-info">Resources Information</a></li>
                </ul>
            </li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</header>