<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <a href="#">
        <img class="logo-1" src="../../assets/block-logo.png">
        <img style="height: 2em;" src="../../assets/letter-head-logo.png">
    </a>

    <input type="checkbox" id="menu-bar" (click)="checked($event)" >
    <label for="menu-bar"><i class="fa fa-reorder" style="font-size:48px;"></i></label>

    <nav class="navbar">
        <ul>
            <li><a>Services <i class="fa-solid fa-chevron-down"></i></a>
                <ul>
                    <li><a routerLink="/services/custom-homes">Custom Homes</a></li>
                    <li><a routerLink="/services/renovations">Renovations</a></li>
                    <li><a routerLink="/services/commercial">Commercial</a></li>
                    <li><a routerLink="/services/civil">Civil</a></li>
                </ul>
            </li>
            <li><a>Homes for Sale <i class="fa-solid fa-chevron-down"></i></a>
                <ul>
                    <li><a routerLink="/salepage1">Address 1</a></li>
                    <li><a routerLink="/salepage2">Address 2</a></li>
                </ul>
            </li>
            <li><a>About <i class="fa-solid fa-chevron-down"></i></a>
                <ul>
                    <li><a routerLink="/about/president-message">President's Message</a></li>
                    <li><a routerLink="/about/company-profile">Company Profile</a></li>
                    <li><a routerLink="/about/resources">Resources</a></li>
                    <li><a routerLink="/about/resources-info">Resources Information</a></li>
                </ul>
            </li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</header>