<footer class="footer">
  <div class="logo">
    <img style="width: 220px;max-width: 100%;" src="../../assets/logo-broad-image.png" alt="Logo">
    <div>Copyright © 2020 Gold Leaf Construction Group
      All rights reserved</div>
  </div>
    <div class="contact-us">
      <div class="contact-column">
        <h3>Contact Us</h3>
        <div>
          <span>Sault Ste Marie</span>
          <p style="margin: 0px;">432 Great Northern Road</p>
          <p style="margin: 0px;">Phone: (705) 942-5540</p>
          <br/>
          <span>Sudbury</span>
          <p style="margin: 0px;">112 Sunrise Ridge</p>
          <p style="margin: 0px;"> Phone: (705) 673-5540</p>
        </div>
        </div>
      <div class="contact-column" style="margin-top: 45px;">
        <span>Toronto</span>
        <p style="margin: 0px;">3 Navy Wharf Court, Ste.</p>
        <p style="margin: 0px;">2901</p>
        <p>Phone: (647) 282-6044</p>
        <p>Follow Us</p>
      </div>
    </div>
  </footer>
  