<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

<section class="container-fluid">
    <div class="about-heading">Homes For Sale in Sudbury</div>
</section>
<section class="salepage2">
    <div>
        <img style="height: 40vh; max-width: 90%"
            src="https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801_1280.jpg">
    </div>
    <div style="margin: 2em 0 0 0;">These Gold Leaf Homes are HOLMES Approved and undergo a series of home inspections including onsite field reviews by
        approved Mike Holmes Inspectors, which serves as a thorough, transparent record of the quality and value that
        exists behind the walls. The Mike Holmes Inspections team provides unbiased, third party inspections at critical
        stages of construction. Every home is
        inspected a minimum of three times through various stages of construction.</div>
        <br>
        <hr style="border-top: 2px solid black;">
<br>
        <h2 style="font-weight: 700;font-size: 22px;">Recently Sold</h2>
        <div style="margin: 2em 0 0 0;">
            <img style="height: 40vh; max-width: 90%"
                src="https://images.pexels.com/photos/1786758/pexels-photo-1786758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
        <br>
        <br>
</section>
<!-- <section class="logoMarqueeSection">
	<div class="container" id="logoMarqueeSection">
		<div class="default-content-container flex items-center">
			<div class="default-content-container-inner marquee-wrapper relative overflow-hidden inline-block">
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
			</div>
		</div>
	</div>
</section> -->
<app-footer></app-footer>