<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

<section>
    <div style="background-color: black; text-align: center;position: relative;">
        <img style="width: 80%;height: 60vh;filter: brightness(0.5);"
            src="https://images.unsplash.com/photo-1542361345-89e58247f2d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            alt="">
			<div class="centered">Commercial</div>
    </div>
</section>

<section style="padding: 5em 10em;" class="low-pad">
    <p>
        
Gold Leaf’s experience building in the commercial field is as deep as our residential experience. Our record is one of 40 years of completing projects – on time and on budget! We have been recognized for excellence in the commercial world in areas such as site scheduling, construction quality, prompt communication, and value engineering. Gold Leaf will not only build your commercial structure, but we can also help you design it from the ground up.
    </p>
</section>
<section class="row-sec" style="background-color: #54595f;color: white;" class="low-pad">
    <div class="column-sec">
        <img style="max-height: 50vh;"
            src="https://images.pexels.com/photos/2957862/pexels-photo-2957862.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="">
    </div>
    <div class="column-sec">
        <h2 style="margin-bottom: 2em;color: #E8CB92;">
            FINAL WALKTHROUGH
        </h2>
        <p>Prior to the closure of the project, our team will do a thorough walkthrough of the finished product,
            ensuring your full satisfaction. We also run you through all of the equipment, (how to change a furnace
            filter, where to shut off your hose bibs, etc.) to ensure you can comfortably enjoy your new space! We
            encourage our clients to keep in touch with our team even after we finish your renovation, so you will never
            be left in the dark!
        </p>
        <button style="padding: 0.5em;background-color: #93651A;color: white;margin-top: 5em;">View Renovation Portfolio</button>
    </div>
</section>
<!-- <section class="logoMarqueeSection">
	<div class="container" id="logoMarqueeSection">
		<div class="default-content-container flex items-center">
			<div class="default-content-container-inner marquee-wrapper relative overflow-hidden inline-block">
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
			</div>
		</div>
	</div>
</section> -->
<app-footer></app-footer>