<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

<section>
    <div style="background-color: black; text-align: center;position: relative;">
        <img style="width: 50%;height: 60vh;filter: brightness(0.5);"
            src="https://images.unsplash.com/photo-1636988813513-8e237ec1d251?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80"
            alt="">
            <div class="centered">Civil</div>
    </div>
</section>

<section style="padding: 5em 20em;" class="low-pad">
    <p>
        JB Excavators (Algoma) Inc. (‘JBX’) is a full service excavation company. Our services include
    </p>
    <ul>
        <li>sewer and water installations – private, municipal, and commercial</li>
        <li>residential excavation and backfill</li>
        <li>driveways and grading</li>
        <li>underground services such as municipal civil services, power and data connections to the grid</li>
    </ul>
</section>
<section style="background-color: #54595f;color: white;" class="low-pad">
    <div style="padding:5em 14em">
        <h2 style="margin-bottom: 2em;color: #E8CB92;">LOCATES AND SURVEYING:</h2>
        <p>
            For your excavation needs, our team will begin with obtaining all the necessary clearances for underground services locates – a clear and necessary step to ensure safety. We then move on to clearing the site of any trees and debris. Once this is complete, we have a team from Ontario Land Surveyors come mark out the proposed location of your build, ensuring it is done in accordance with the Consultant’s design plans, as well as the direction of the municipality depending on where your site is located. The reference points staked out guide the construction on the property and will help ensure your build is completed on schedule, on budget, and as planned.
        </p>
    </div>
</section>
<section class="row-sec low-pad" >
    <div class="column-sec" id="img-ser">
        <img style="max-height: 50vh;"
            src="https://images.unsplash.com/photo-1636988813513-8e237ec1d251?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80"
            alt="">
    </div>
    <div class="column-sec">
        <h2 style="margin-bottom: 2em;color: #c39d50;">
            BREAKING GROUND:
        </h2>
        <p>Prior to the closure of the project, our team will do a thorough walkthrough of the finished product,
            ensuring your full satisfaction. We also run you through all of the equipment, (how to change a furnace
            filter, where to shut off your hose bibs, etc.) to ensure you can comfortably enjoy your new space! We
            encourage our clients to keep in touch with our team even after we finish your renovation, so you will never
            be left in the dark!
        </p>
        <button style="padding: 0.5em;background-color: #93651A;color: white;margin-top: 5em;">View Renovation Portfolio</button>
    </div>
</section>
<section class="logoMarqueeSection">
	<div class="container" id="logoMarqueeSection">
		<div class="default-content-container flex items-center">
			<div class="default-content-container-inner marquee-wrapper relative overflow-hidden inline-block">
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>