<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

<div style="font-size: 14px;" class="container-fluid">
    <div class="about-heading">Homes For Sale in Sault Ste Marie</div>
</div>

<section  style="padding: 10em;">
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>30 Mulbery Street</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>22 Mulbery Street</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>34 Mulbery Street</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Allen Side Road</h2></div>
    </div>
    <div>
        <p style="margin-bottom: 3em;">These SalDan Homes are currently being built and are HOLMES Approved. These homes undergo a series of home
            inspections including onsite field reviews by approved Mike Holmes Inspectors, which serves as a thorough,
            transparent record of the quality and value that exists behind the walls. The Mike Holmes Inspections team
            provides unbiased, third party inspections at critical stages of construction. Every home is inspected a
            minimum of three times through various stages of construction.</p>
        <hr style="border-top: 2px solid black;margin-bottom: 3em">
        <h2 style="margin-bottom: 3em">Recently Sold</h2>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Allen Side Road</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>26 Mulbery Street</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>14 Mulbery Street</h2></div>
    </div>
</section>