<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

<div style="font-size: 14px;" class="container-fluid">
    <div class="about-heading">Homes For Sale in Sault Ste Marie</div>
</div>

<section class="salepage1">
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Address 1</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Address 2</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Address 3</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Address 4</h2></div>
    </div>
    <div>
        <p style="margin-bottom: 3em;">These Gold Leaf Homes are currently being built and are HOLMES Approved. These homes undergo a series of home
            inspections including onsite field reviews by approved Inspectors, which serves as a thorough,
            transparent record of the quality and value that exists behind the walls. The Inspections team
            provides unbiased, third party inspections at critical stages of construction. Every home is inspected a
            minimum of three times through various stages of construction.</p>
        <hr style="border-top: 2px solid black;margin-bottom: 3em">
        <h2 style="margin-bottom: 3em">Recently Sold</h2>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Address 1</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Address 2</h2></div>
    </div>
    <div class="image-container">
        <img style="width: 30vw;height: 30vh;" src="https://source.unsplash.com/VWcPlbHglYc" alt="" />
        <div class="overlay"><h2>Address 3</h2></div>
    </div>
</section>
<!-- <section class="logoMarqueeSection">
	<div class="container" id="logoMarqueeSection">
		<div class="default-content-container flex items-center">
			<div class="default-content-container-inner marquee-wrapper relative overflow-hidden inline-block">
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
			</div>
		</div>
	</div>
</section> -->
<app-footer></app-footer>