<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

<section>
    <h2>New Home Advantages</h2>
    <br>
    <p>One of the first decisions home buyers are faced with is whether to purchase a new or used home. Although there
        are many benefits in purchasing a used home, purchasing a new Gold Leaf home can also provide many advantages and
        benefits to home buyers. These benefits include:
    </p>
    <br>
    <ol>
        <li>All aspects of the home are brand new. This includes the furnace, water heater, air exchanger, roof … etc.
            This is a great selling feature for new homes as potential home buyers can rest easy knowing that there is
            no chance of unexpected renovation costs after moving in, and additional financial stress! </li>
        <li> Along with the brand new features, a purchase of a new Gold Leaf home comes with the assurance that your
            investment will last for a very long time! All of our homes come with a lifetime warranty on the foundation,
            as well as a 7 year Tarion home warranty protecting home buyers against any potential defects in their new
            home. </li>
        <li> A new Gold Leaf home also gives home buyers the opportunity to leave their personal stamp on the place they
            will call home. You have complete control over your paint colours, flooring, cabinets, counter tops as well
            as any other features in your new home. We will work with you to create your perfect dream home! </li>
        <li> Purchasing a new Gold Leaf home also gives home buyers the assurance that they are investing in a safe and
            efficient future for their families. Over the years, building science continually improves as do the
            requirements for the Ontario Building Code. When you purchase a new Gold Leaf home, you can be assured that
            your home will meet all updated requirements giving you the benefit of more efficient heating, ventilation
            and power consumption – ultimately giving you the advantage of lower utility bills and saving you money over
            the years!</li>
    </ol>
</section>
<section>
    <h2>Design Gallery
    </h2>
    <br>
    <p>At Gold Leaf Developments we understand that building your own custom dream home is as fun as it is rewarding!</p>
    <br>
    <p>Come and visit our design gallery at xyz address, Sault Ste. Marie, ON, where you can see samples of
        flooring, paint, kitchen cabinets & counters among other items. When you purchase one of our new homes, our
        design experts will work one-on-one with you and assist you with the different design options that are available
        and the costs associated with your choices.
    </p>
    <br>
    <p>Let us help you turn your dream home into a reality!</p>
    <br>
    <p>Visit the websites below for some great design ideas!</p>
    <ul>
        <li>Benjamin Moore Paints – www.benjaminmoore.ca </li>
        <li>Soo Mill – www.soomill.com </li>
        <li>Honeywell Total Connect Remote Services – www.mytotalconnect.com </li>
        <li>Aya Kitchens – www.ayakitchens.com </li>
        <li>Browns Windows – www.brownwindow.com </li>
        <li> Marvin Windows – www.marvin.com </li>
        <li> Loewen Windows – www.loewen.com </li>
        <li> Ceasarstone – www.ceasarstone.com </li>
        <li> Premier Stairs – www.premierstairsandrailings.com </li>
        <li> Sherwin Williams – www.sherwin-williams.com </li>
        <li> Got Glass – www.gotglass.ca </li>
        <li> Brenlo Limited – www.brenlo.com </li>
        <li> Renovation Outlet – www.renovationoutlet.ca </li>
        <li> Build.com – www.build.com </li>
        <li> Houzz – http://www.houzz.com/photos/users/Gold Leaf1 </li>
        <li> Facebook – https://www.facebook.com/Gold Leafbuilt/ </li>
        <li> Twitter – https://twitter.com/Gold Leafbuilt

        </li>
    </ul>
</section>
<section>
    <h2>Home Care Guide</h2>
    <br>
    <p>At Gold Leaf Developments, we won’t leave you in the dark on how to maintain your new home!</p>
    <br>
    <p>Upon closing, we will provide you with a detailed home care guide with information about all aspects of your new
        home, maintenance procedures as well as appropriate warranty information.</p>
    <br>
    <p>You will also receive the owner’s manual and operation booklet for any appliance we may have installed: possibly
        including furnace, water heater, air exchanger, dishwasher, microwave, etc.</p>
</section>
<section>
    <h2>Warranty Information
    </h2>
    <br>
    <ol>
        <li>The purchase of a new Gold Leaf home comes with the additional benefit of a lifetime warranty on the
            foundation, as well as a 7 year Tarion new home warranty against defects.</li>
        <li>At the time of sale, we will provide you with a Tarion new home warranty manual as well as the additional
            warranty we provide above Tarion. We will go through these manuals in detail with you explaining the
            contents and how to go about using the manual if need be.</li>
        <li>Before your closing date, the most senior company employee (usually the owner) will walk through your new
            house with you and do a detailed per-delivery inspection of your home. This will give us another opportunity
            to discuss your warranty and address any items before you move in to your home. </li>
        <li> 30 days after your closing date, we will send a customer service representative to your home to address any
            issues or defects that may have presented themselves in your first month of occupancy. This will also give
            you an opportunity to discuss any warranty questions you may have, or to provide us with feedback on your
            experience with us.</li>
        <li style="margin-bottom: 5em;">Finally, 1 year after your closing date we will once again send our customer service representative to your
            home to address any issues or defects that may have presented themselves over the past year. You can rest
            assure that we will do our best to provide you with a quality home and address any issues you may have! You
            deserve the best!</li>
    </ol>
</section>
<!-- <section class="logoMarqueeSection">
	<div class="container" id="logoMarqueeSection">
		<div class="default-content-container flex items-center">
			<div class="default-content-container-inner marquee-wrapper relative overflow-hidden inline-block">
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
				<div class="marquee" style="animation-duration: 57s;">
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/bc-road-builders-heavy-construction-association-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/under-construction.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/municipal-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/louisiana-home-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/queensland-master-builders-association.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/builders-club.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					<a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/home-builders-ins.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
					</div>
			</div>
		</div>
	</div>
</section> -->
<app-footer></app-footer>